.padding {
  margin-bottom: 300px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.title {
  margin-top: 0px;
  margin-left: 0px;
  background-color: rgb(255, 188, 18);
  padding: 1%;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.blog-link {
  text-decoration: none;
  color: black;
}
.blog-preview {
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
  padding: 2%; 
  box-shadow: rgba(0, 0, 0, 0.180) 2px 2px;
  transition: .15s;
}
.blog-preview:hover {
  opacity: .7;
  cursor: pointer;
}
.thumnail {
  width: 100%;
  border-radius: 5px;
}
.profile-picture {
  width: 100%;
  border-radius: 50px;
  margin-right: 5px;
  vertical-align: top;
}
.blog-info {
  display: grid;
  grid-template-columns: 50px 2fr;
  column-gap: 10px;
}
.text-info {
  margin-top: 0;
}
p { 
  font-family: Arial, Helvetica, sans-serif;
}
.blog-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0px;
}
.blog-date {
  font-size: 12px;
  color: gray;
  margin-top: 0px;
}
.blog-author { 
  font-size: 14px;
  margin-top: 0px;
}